body{
  text-align: center;
  font-family: "Comic Sans", Cambria ;
  background-image: url("Mavericks.jpg");
  color: blue;
}

h1{
  font-family: Calibri;
}
img{
  width: 50%;
  height: auto;
}
h3{
  position: relative;
  text-align: center;
}
.container{
  position: relative;
  text-align: center;
}
.center{
  color: green;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 40%;
}
.row {
  display: flex;

}