body{
  text-align: center;
  font-family: "Comic Sans", Cambria ;
  background-image: url("Mavericks.jpg");
  color: blue;
}

h1{
  font-family: Calibri;
}
img{
  width: 20%;
  height: auto;
}
h3{
  position: relative;
  text-align: center;
}